<style>
    body {background-color: lightyellow;}
    h2 {color:lightgreen}
    h3 {color:aliceblue}
    p.normal {font-weight: normal;} 
    p.light {font-weight: lighter;}
    p.thick {
        font-weight: bold; 
        background-color: mistyrose;
    }
    p.thick {font-weight: 900;}
</style>
